@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-center">
    <h3>Deseja apagar o contato (Bruno Filho)?</h3>
</div>

<a class="btn btn-primary btn-block" role="button">Cancelar</a>
<a class="btn btn-danger btn-block" role="button">Confirmar</a>